*{
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #000 1px solid;
}

#nasaLogo {
    height: 80px;
}

#menuLogo {
    margin: 0px 15px;
}

#sec1{
    height: 100px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 20px;
}

#botoes {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
}

#enviar {
    margin: 0px 15px;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: blue;
    color: #fff;
}

#receiveImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

#btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnTxt {
    width: 80px;
    cursor: pointer;
}

#btnImg {
    height: 20px;
}

footer {
    background-color: blue;
    color: #FFF;
    width: 100%;
    height: 110px;    
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#footerCtt {
    display: flex;
    height: 100%;
}

.footerLogos {
    height: 50px;
    margin: 20px;
    filter: invert(1);
}

#emailLogo{
    height: 70px;
    margin-left: 15px;
    margin-top: 10px;
}

.nasaLogo {
    height: 70px;
}