*{
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nasaLogo {
    height: 80px;
}

#menuLogo {
    margin: 0px 15px;
}

#sec1{
    /* background-image: url(https://services.meteored.com/img/article/para-qual-lugar-o-universo-esta-se-expandindo-1685829316554_1280.png);
    height: 400px; */
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; 
    padding-top: 100px;*/
}

#botoes {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
}

#enviar {
    margin: 0px 15px;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: blue;
    color: #fff;
}

#receiveImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: blue;
}

h2 {
    display: flex;
    justify-content: center;
}

#ctt {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.CaixaCtt {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 350px;
}

.infoCtt {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#email {
    width: 300px;
    height: 300px;
}

#wpp {
    width: 200px;
    height: 200px;
}

#tbrlh{
    height: 10px;
    width: 10px;
}

footer {
    background-color: #000;
    height: 250px;

}